################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
obj/
*.suo
/Code/Client/RemoteDesktopClient/RemoteDesktopClient.csproj.user
/Code/Server/RemoteDesktopServer/RemoteDesktopServer.csproj.user
/Code/Server/RemoteDesktopServer/RemoteDesktopServer.slnLaunch.user
